body {
    margin: auto;
}
header {
    height:35px;
    text-align: right;
    text-transform:uppercase;
}
nav {
    font-size: 18px;
    background-color: white;
    margin-top: 15px;    
}
nav a {
    color:#5B4F47;
    margin: 30px;
}
a:hover {
    color: #BD9479;
}
main {
    background-color: #F8F7F4;
    height: 790px;
    font-size: 20px;
    color:#5B4F47;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    font-size: 50px;
}
.presentation {
    height: 400px;
    width: 600px;
    max-width: 500px;
    padding-top: 100px;
}
.link {
    height: 400px;
    width: 600px;
    max-width: 500px;
    padding: 205px 0 0 120px;
}
.link a {
    color:#5B4F47;
}
.link a:hover {
    color: #BD9479;
}
footer {
    text-align: center;
    display:flex;
    justify-content: space-around;
    align-items:start;
    flex-direction:row;
    color:#5B4F47;
}
footer a {
    color:#5B4F47;
}
footer a:hover {
    color: #BD9479;
}
